@using Entities.DTOs
@using Entities.DTOs.Blog
@model List<BlogListDto>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Blog Id</th>
            <th>Blog Title</th>
            <th>Category Name</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var blog in Model)
        {
            <tr>
                <td>@blog.BlogId</td>
                <td>
                    <span style="color: @(blog.Status ? "black" : "red");">
                        @blog.Title
                    </span>
                </td>
                <td>@blog.CategoryName</td>
                <td>
                    <form action="/Admin/Blog/Delete/@blog.BlogId" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-link p-0 m-0" style="color: inherit;"
                                onclick="return confirm('Bu blog silinsin mi?');">
                            <i class="bi bi-archive-fill h4"></i>
                        </button>
                    </form>

                    &nbsp;&nbsp;
                    <a href="/Admin/Blog/Edit/@blog.BlogId" "><i class="bi bi-pencil-square h4"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>